
/******* VAR *******/
:root {
    --black-color: #212529;
    --white-color: #f3f3f3;
    --gray-light-color: #dcdcdc;
    --gray-color:#a4a4a4;
}

/******** RESET ******/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

/***** GENERAL *****/

    html{
        font-family: "Roboto", sans-serif;
    }

    header{
        background-color: var(--gray-light-color);
    }

    body{
        background-color: var(--white-color);
        color: var(--black-color);
        font-size: 1.5rem;
    }

    main{
        padding: 1rem;
    }

    .numerito{
        vertical-align: 10px;
        font-style: normal;
        font-size: 1rem;
        padding: .5rem;
        margin: .2rem;
        background-color: var(--black-color);
        color: var(--white-color);
        font-weight: 600;
        border-radius: 1rem;
    }
    .navbar-nav {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-toggler{
        border: none;
        background-color: transparent;
    }
    
    .navbar-toggler:focus{
        box-shadow: none;
    }

    .nav-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-link{
        margin-left: 2rem;
    }

    .btn__mio{
        border-color: var(--gray-color);
    }
    
    .btn__mio:hover{
        background-color: var(--gray-color);
        color: var(--white-color);
    }

    .color__box:focus{
        box-shadow: 0 0 5px 2px var(--gray-color);
        border-color: var(--gray-color);
    }

    .contenedor-buscar{
        width: 80%;
    }

    .contenedor__busquedad{
        grid-column: 1 / span 4; 
    }
    .titulo-filtro {
        text-align: center;
    }
    .contenedor-botones {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
        
    /***** Cards *******/

    .contenedor-card{
        width: 100%;
        height: auto;
    }

    .contenedor-card-imagen{
        width: 100%;
    }

    .imagen{
        width: 100%;
        height: 100%;
        margin-bottom: .5rem;
    }

    .contenedor-card-informacion{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .titulo{
        font-size: 1.5rem;
    }

    /***** Carrito *******/

    .container__carrito{
        border: 2px solid var(--black-color);
        margin-top: 1rem;
        border-radius: 1rem;
        width: 80%;
    }

    .titulo__carrito{
        text-align: center;
        padding: 1rem;
        margin: 0;
    }

    .producto-carrito{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        margin: 0;
        padding: .5rem 2rem;
    }

    .imagen-carrito{
        height: 100px;
        width: 100px;
    }

    .carrito__vacio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .botones__carrito{
        border: none;
        background-color: transparent;
        color: red;
    }

    .st__total{
        font-weight: 600;
        background-color: var(--black-color);
        color: var(--white-color);
        padding: .5rem;
    }

    .st__vaciar{
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 1rem;
        width: 80%;
        margin: 0;
    }

    .contenedor-productos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        padding: 1rem;
    }

    /**** Media queries ****/

@media screen and (max-width: 992px){

    form.d-flex{
        margin-bottom: .5rem;
    }

    .contenedor-productos{
        grid-template-columns: repeat(2, 1fr);
    }

    .container__carrito{
        width: 90%;
    }

    .nav-link{
        margin: 0;
    }

    .nav-item{
        justify-content: flex-start;
    }
}

@media screen and (max-width: 576px) {

    .imagen__logo{
        height: 50px;
        width: 150px;
    }

    .contenedor-productos{
        grid-template-columns: repeat(1, 1fr);
    }

    .imagen{
        padding: 1rem;
    }

    .container__carrito{
        width: 100%;
    }

}

